
 <link rel="stylesheet" type="text/css" href="~/Content/Contact.css">

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="contact-message">
                <p class="message_text">
                    <h6> Email: </h6>
                    <a href="mailto:Info@LTC.com" class="contact-links"> Information </a> <br>
                    <a href="mailto:Info@LTC.com" class="contact-links"> Booking </a> <br>
                    <a href="mailto:Info@LTC.com" class="contact-links"> Volunteering </a> <br>
                </p>
                <p>
                    <h6> Feel free to join us on: </h6>
                    <a href="#" class="contact-links"> Facebook  <i class="fab fa-facebook"></i><br></a>
                    <a href="#" class="contact-links"> Instagram  <i class="fab fa-instagram"></i><br></a>
                    <a href="#" class="contact-links"> Pinterest  <i class="fab fa-pinterest"></i><br></a>
                    <a href="#" class="contact-links"> Twitter  <i class="fab fa-twitter"></i><br></a>
                    <br>
                </p>
            </div>

        </div>

        <div class="col-lg-6 col-sm-12">                
            <div class="form-box">
                <form action="#" method="POST">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-sm-10" style="display: inline-flex; margin-left: auto; margin-right: auto;">
                                <input type="text" placeholder="First Name" />
                                <input type="text" placeholder="Last Name" />
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-10" style="display: inline-flex; margin-left: auto; margin-right: auto;">
                                <input type="number" placeholder="Contact Number" />
                                <input type="email" placeholder="Email Address" />
                            </div>

                        </div>

                    </div>

                    <textarea name="reg_body" class="message_body" id="reg_body" placeholder="Your message here.." required></textarea> <br>
                    <input type="submit" name="send_message" value="Submit"> <br>

                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9937.650412115423!2d-0.10418325752268794!3d51.487295474107746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760361e9ae53c9%3A0x80aea60a2ec7af02!2sWalworth%2C%20London!5e0!3m2!1sen!2suk!4v1622730296424!5m2!1sen!2suk" class="google-maps" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <br>
</div>
