
<link rel="stylesheet" type="text/css" href="~/Content/Hero.css">

<div class="wrapper">

    <div class="hero_frame">
        <video autoplay muted loop id="hero_video">
            <source src="~/Images/hero_main.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>

        <div class="hero_box">
            <div class="hero_title">
                <h1> Local Theatre Company </h1>
                <h4><span style="color: red"> Enjoy yourself </span></h4>
                <br />
                <i class="fas fa-theater-masks fa-7x"></i>
            </div>
        </div>

    </div>

</div>