
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.title {
    color: black;
    font-family: 'Limelight', cursive;
}

.background_display {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.display_box {
    padding: 30px;
    background-color: rgb(255, 255, 255, 0.5);
}
